@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-image: url(../img/LoginPageBG1.jpg);
    font-family: 'Montserrat Alternates', sans-serif;
    color: rgba(27, 18, 18, 0.945);
}

div {
    align-items: center;
}

.mainBox {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 600px;
    background: #716c6c8d;
    border-radius: 10px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.5);
}

.mainBox h1 {
    font-family: 'Bebas Neue', cursive;
    font-size: 60px;
    text-align: center;
    padding: 20px 0;
    border-bottom: 1px solid rgb(60, 58, 58);
}

.mainBox form {
    padding: 20px 40px;
    box-sizing: border-box;
}

form .details {
    position: relative;
    border-bottom: 2px solid #adadad;
    margin: 30px 0;
}

.details input {
    width: 100%;
    padding: 25px 5px;
    padding-bottom: 0px;
    height: 60px;
    font-size: 40px;
    border: none;
    background: none;
    outline: none;
}

.details #forPass {
    padding-top: 50px;
}

.details label {
    position: absolute;
    top: 50%;
    left: 5px;
    color: #adadad;
    transform: translateY(-50%);
    font-size: 40px;
    pointer-events: none;
    transition: .5s;
}

.details input:focus~label,
.details input:valid~label {
    top: -5px;
    color: #ed6868;
}

.pass {
    margin: -5px 0 20px 5px;
    color: #a6a6a6;
    cursor: pointer;
}

.pass:hover {
    text-decoration: underline;
}

.mainBox #loginButton {
    font-family: 'Montserrat Alternates', sans-serif;
    width: 100px;
    color: rgb(0, 0, 0);
    border-radius: 10px;
    background-color: rgb(244, 239, 232);
    font-size: 30px;
    margin-top: 25px;
    margin-left: 155px;
}

.mainBox #newUser {

    border-radius: 10px;
    padding: 5px;
    padding-left: 5px;
    font-weight: bold;
    font-size: 25px;
    margin-left: 10px;
    margin-top: 35px;
}

.mainBox #newUser #createButton {
    margin-left: 20px;
}

.mainBox #newUser #createButton #createAccountButton {
    font-family: 'Montserrat Alternates', sans-serif;
    border-radius: 10px;
    background-color: rgb(244, 239, 232);
    font-size: 27px;
}

button:hover {
    font-family: 'Montserrat Alternates', sans-serif;
    border: none;
    background-color: #fc7601;
    padding: 10px;
    border-radius: 15px;
    box-shadow: inset 0 0 8px #ff3502;
}