@import url("https://fonts.googleapis.com/css2?family=IM+Fell+French+Canon&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Lora:wght@400;500;700&family=Oxygen:wght@300;400;700&display=swap");

/* Nav Bar */
body {
    background: black;
}

#top-navbar .active a {
    color: #F94D16;
}

.navbar {
    color: black;
    height: 3rem;
}

.bg-primary
{
    background: black !important;
}

#top-navbar
{
    border-bottom: 1px dashed #808080;  
}

.navbar>.container-fluid {
    padding: 0px 50px 0px 50px;
}

#top-navbar img
{
    width: 5rem;
    height: 5rem;
}

#top-navbar i
{
    font-size: 2rem;
}

.form-control {
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;

    border-radius: 50px;
    border: none;
    outline: none;
    padding: 0 20px;
    width: 100%;
    height: 1.5rem;
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
}

.nav-item a {
    font-family: 'Inter';
    font-style: normal;
    color: #FFFFFF;
}

#top-navbar a {
    font-size: 24px;
    font-weight: 700;
    margin-left: 2rem;
    font-family: 'Inter';
    font-style: normal;
    color: #FFFFFF;
}


.nav-item > a:hover
{
    color: #F94D16 !important;
}

/* makes active button orange */
/* .navbar-nav > .active > a 
{
    color: #F94D16;
} */

/* changes search bar's cancel button to an orange cross */
input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
    height: 13px;
    width: 13px;
    background: url("../img/orange-cross.svg");
    cursor: pointer;
}

.text-success
{
    color: #F94D16 !important;
}

/* Nav Bar END*/

/* ___________________________________________________________________________________________ */


/* Home content */
.container-fluid h4 {
    font-family: 'IM FELL French Canon';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    margin-top: 60px;

    color: #F94D16;

    margin-bottom: 30px;
    margin-left: 2.7rem;
}

.card {
    background: none;
}

.genres, .playlists
{
    margin-left: 2rem;
}


.genres img {
    border-radius: 50%;
    border: 2px solid #808080;
    width: 10rem;
    height: 10rem;
}

.genres .card:hover img {
    border: 2px solid #F94D16;
    cursor: pointer;
}

.genres .card:hover h5
{
    color: #F94D16;
}

.playlists .card:hover{
    border: 1px solid #F94D16;
    cursor: pointer;
    background-color: #171717;
}


.playlists .card>img {
    border-radius: 10%;
    width: 7rem;
    height: 7rem;
    margin-top: 20px;

}

.playlists .card {
    border: 1px solid #808080;
    border-radius: 10px;
    width: 10rem;
}

.playlists .card-title {
    font-family: 'IM FELL French Canon';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    /* identical to box height */

    text-align: center;
    color: #FFFFFF;
}


.genres .card-title {
    font-family: 'IM FELL French Canon';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;

    color: #FFFFFF;
    margin-bottom: 0;
}

.playlists .card-title
{
    margin-bottom: 0;
}

.card-body
{
    margin-left: 8px;
}



.card-text {
    font-family: 'IM FELL French Canon';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    text-align: center;

    color: #808080;
}

/* Home content END*/

/* Play bar*/

#play-bar h5
{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;

    color: #FFFFFF;
    margin-bottom: 0;
}

#play-bar p
{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    text-align: center;
    margin-bottom: 0;

    color: #808080;
}

#play-bar img
{
    width:3.5rem;
    height: 3.5rem;
    border-radius: 10px;
}

#play-bar
{
    border-top: 1px solid #808080;
    height:5rem;
    font-size: 1rem;
}

#play-bar-buttons
{
    font-size: 1.6rem;
}

#playing-song-info
{
    margin-left: 15px;
}

ul 
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bg-success
{
    background-color: #F94D16 !important;
}

#controls
{
    min-width: 40vw;
}

.progress
{
    height: 0.3vh;
}

.bi-volume-up-fill
{
    color: #F8F8F8;
}

.volume-control::-ms-fill-lower
{
    background-color: #F94D16 !important;
    color: #F94D16 !important;
}
/* Play Bar END*/

/* Search-Only-By-Songs START */
/* Option Bar START */
.btn-outline-dark {
    --bs-btn-color: #212529;
    --bs-btn-border-color: #212529;
    --bs-btn-hover-color: white;
    --bs-btn-hover-bg: black;
    --bs-btn-hover-border-color: #F94D16;
    --bs-btn-focus-shadow-rgb: 33, 37, 41;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #212529;
    --bs-btn-active-border-color: #212529;
    --bs-btn-active-shadow: inset 0 3px 5pxrgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #212529;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #212529;
    --bs-gradient: none;
    margin-left: 20px;
}



.optionBtn {
    border-color: #808080;
    color: #808080;
}

.optionBtn > button:hover {
    border-color: #F94D16;
    /* color: #fff; */
}

.optionBtn-success
{
    border-color: #F94D16 !important;
    color: #F94D16 !important;
}

/* Option Bar END */

/* Container with songs START */
.outer-song-container {
    border: 1px solid #808080;
    border-radius: 22px;
    width: 93vw;
    min-height: 65vh;
    margin-top: 5vh;
    margin-left: 3vw;
    padding: 2vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.inner-song-container {
    border: 2px dashed #808080;
    border-radius: 10px;
    width: 89vw;

    min-height: 62vh;
    display: flex;
    flex-direction: column;
}
#row-padding {
    padding: 0px;
}
#songs-heading-font{
    font-family: 'IM FELL French Canon';
    font-size: 25px;
    color: #F94D16;
    justify-content: flex-start;
}
#songs-setting{
    font-family: 'IM FELL French Canon';
    font-size: 23px;
    color: white;
}
.tableEdit{
    color: #808080;
    font-size: 17px;
}
.song-hover:hover{
    color: #F94D16;
}
.set-col{
    --bs-btn-color: #ffffff;
    --bs-btn-font-size: 1.5rem;
  }
.dropdown-menu{
    font-family: 'IM FELL French Canon';
    font-size: 17px;
    background: #46464a;
    --bs-dropdown-link-color: white;
    --bs-dropdown-link-hover-color: #F94D16;
    display: block;
    visibility: collapse;
}

.btn-group:hover .dropdown-menu{
    visibility: visible;
}
/* Container with songs END */

/* Search-Only-By-Songs END */


/* ___________________________________________________________________________________________ */


/*SearchPage START*/
#options-bar h4
{
    margin: 0;
    margin-left: 2.7rem;
}

#options-bar .btn
{
    border: 1px solid #808080;
    border-radius: 10px;
    margin-left: 20px;
    width: 7rem;
    color: #FFFFFF;
}

#options-bar .btn:hover
{
    color: #F94D16;
    border: 1px solid #F94D16;
}

#options-bar
{
    margin-top: 30px;
}


.search-by-container h4{
    font-family: 'IM FELL French Canon';
    font-size: 30px;
    margin-top: 30px;

    color: #F94D16;

    margin-bottom: 30px;
    margin-left: 2.7rem;
}

.search-boxes-container
{
    border: 1px solid #808080;
    border-radius: 10px;
    margin-left: 20px;
    width: 95%;
    margin-left: 3.2rem;
    margin-top: 30px;

    padding: 20px;
}


.songs-list
{
    border: 1px dashed #808080;
    border-radius: 10px;
}

.songs-list > h4
{
    margin: 0;
}

path
{
    visibility: hidden;
}

path:hover
{
    cursor: pointer;
    fill: #F94D16;
}

#songs-search-box h5
{
    font-family: 'IM FELL French Canon';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;

    color: #FFFFFF;
    margin: 0;
}

#songs-search-box p
{
    font-family: 'IM FELL French Canon';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    margin: 0;

    color: #808080;
}

#songs-search-box .song-row:hover h5
{
    color: #F94D16;
    cursor: pointer;
}

#songs-search-box .song-row:hover path
{
    visibility: visible;
}

#songs-search-box .row
{
    margin-top: 10px;
}


.box{
    background-color: rgb(0, 0, 0);
    height: 250px;
    margin: 10px;
    border: .5px dashed #808080;
    padding: 20px;
}

.genre-box{
    width: 250px;
    border: 1px dashed #808080;
    border-radius: 10px;
}

.genre-box:hover
{
    border: 1px dashed #F94D16;
    cursor: pointer;
    background: #171717;
}

.genre-box > h4
{
    margin: 0;
    font-family: 'IM FELL French Canon';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
}

.genre-box > h3
{
    font-family: 'IM FELL French Canon';
    font-style: normal;
    font-weight: 400;
    font-size: 39px;
    color: #FFFFFF;
}

.playlists{
    border: .5px solid rgb(0, 0, 0);
}
.lists{
    border: black; 
    background-color: inherit;
    color:rgb(200, 195, 190);
    margin-left: 3px;
    font-size:small;
}
.playlists .title{
    font-family: 'IM FELL French Canon';
    font-style: normal;
    font-weight: 400;
    font-size: medium;

    color: #FFFFFF;
}
.likeAndAdd:hover{    
    color: #F94D16;
}
/*SearchPage ENDS*/


/* scroll bar customization */
::-webkit-scrollbar {
    width: 0.5em;
  }
  
  ::-webkit-scrollbar-track {
    background: #000000;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #171717;
    border-radius: 100vw;
  }


  /* add breakpoint to boxes to increase border thickness at 4k */
@media(min-width: 2500px)
{
    .genre-box
    {
        width: 250px;
        border: 2px dashed #808080;
        border-radius: 10px;
    }

    .songs-list
    {
        border: 2px dashed #808080;
        border-radius: 10px;
    }

}

@media (max-width: 1550px) 
{
    #second-song-column
    {
        display: none;
    }
}