@import url("https://fonts.googleapis.com/css2?family=IM+Fell+French+Canon&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Lora:wght@400;500;700&family=Oxygen:wght@300;400;700&display=swap");

/* Nav Bar */
body {
    background: black;
}


.navbar {
    color: black;
    border-bottom: 1px dashed #808080;
    height: 6vh;
}

.navbar>.container-fluid {
    padding: 50px;
}

#top-navbar img
{
    width: 5rem;
    height: 5rem;
}

.form-control {
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;

    border-radius: 50px;
    border: none;
    outline: none;
    padding: 0 20px;
    width: 100%;
    height: 3vh;
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
}

.nav-item a {
    font-family: 'Inter';
    font-style: normal;
    color: #FFFFFF;
}

#top-navbar a {
    font-size: 24px;
    font-weight: 700;
    margin-left: 2rem;
}


.nav-item > a:hover
{
    color: #F94D16;
}

/* makes active button orange */
/* .navbar-nav > .active > a 
{
    color: #F94D16;
} */


#profile-pic {
    height: 5rem;
    width: 5rem;
}

#profile-pic:hover {
    filter: brightness(0) saturate(100%) invert(34%) sepia(38%) saturate(4575%) hue-rotate(354deg) brightness(105%) contrast(95%);
} */

/* changes search bar's cancel button to an orange cross */
input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
    height: 13px;
    width: 13px;
    background: url("../img/orange-cross.svg");
    cursor: pointer;
}

/* Nav Bar END*/


/* Home content */
.container-fluid h4 {
    font-family: 'IM FELL French Canon';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    margin-top: 60px;

    color: #F94D16;
    margin-left: 40px;
    margin-bottom: 15px;
}

.card {
    background: none;
}

.genres img {
    border-radius: 50%;
    border: 2px solid #808080;
}

.playlists .card>img {
    border-radius: 10%;
    width: 7rem;
    height: 7rem;
    margin-top: 20px;

}

.playlists .card {
    border: 1px solid #808080;
    border-radius: 10px;
}

.playlists .card-title {
    font-family: 'IM FELL French Canon';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    /* identical to box height */

    text-align: center;
    color: #FFFFFF;
}


.genres .card-title {
    font-family: 'IM FELL French Canon';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;

    color: #FFFFFF;
    margin-bottom: 0;
}

.card-text {
    font-family: 'IM FELL French Canon';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    text-align: center;

    color: #808080;
}


/* Home content END*/

/* Search-Only-By-Songs START */
/* Option Bar START */
.btn-outline-dark {
    --bs-btn-color: #212529;
    --bs-btn-border-color: #212529;
    --bs-btn-hover-color: white;
    --bs-btn-hover-bg: black;
    --bs-btn-hover-border-color: #F94D16;
    --bs-btn-focus-shadow-rgb: 33, 37, 41;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #212529;
    --bs-btn-active-border-color: #212529;
    --bs-btn-active-shadow: inset 0 3px 5pxrgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #212529;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #212529;
    --bs-gradient: none;
    margin-left: 20px;
}

.optionsbar h4 {
    width: 10vw;
    color: #F94D16;
    margin-left: auto;
}

.optionBtn {
    border-color: #808080;
    color: #808080;
}

.optionBtn>button:hover {
    border-color: #F94D16;
}

/* Option Bar END */

/* Container with songs START */
.outer-song-container {
    border: 1px solid #808080;
    border-radius: 22px;
    width: 93vw;
    height: 70vh;
    margin-top: 5vh;
    margin-left: 3vw;
    padding: 2vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.inner-song-container {
    border: 2px dashed #808080;
    border-radius: 10px;
    width: 89vw;
    height: 65vh;
    display: flex;
    flex-direction: column;
}
#songs-heading-font{
    font-family: 'IM FELL French Canon';
    font-size: 25px;
    color: #F94D16;
    justify-content: flex-start;
}
#songs-setting{
    font-family: 'IM FELL French Canon';
    font-size: 25px;
    color: white;
}
/* Container with songs END */

/* Search-Only-By-Songs END */

#play-bar
{
    border-top: 1px dashed #808080;
    height: 4rem;
    font-size: 1rem;
}

#play-bar-buttons
{
    font-size: 1.6rem;
}

#playing-song-info
{
    align-items: center;
}

/* Home content END*/

