@import url("https://fonts.googleapis.com/css2?family=IM+Fell+French+Canon&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Lora:wght@400;500;700&family=Oxygen:wght@300;400;700&display=swap");
body {
  background-color: #000000;
  box-sizing: border-box;

  display: flex;
  justify-content: center;
  align-items: center;
}

html, body {
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
}

/* Navbar */

.navbar {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 70px;
  padding: 10px;
  color: black;
  height: 3vw;
}

.bg-primary
{
  background: black !important;
}

#top-navbar
{
  border-bottom: 1px dashed #808080;  
}

.navbar>.container-fluid {
  padding: 0px 50px 0px 50px;
}

#top-navbar img
{
  width: 5rem;
  height: 5rem;
}

#top-navbar i
{
  font-size: 2rem;
}

.form-control {
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;

  border-radius: 50px;
  border: none;
  outline: none;
  padding: 0 20px;
  width: 100%;
  height: 1.2vw;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
}

.nav-item a {
  font-family: 'Inter';
  font-style: normal;
  color: #FFFFFF;
}

#top-navbar a {
  font-size: 24px;
  font-weight: 700;
  margin-left: 2rem;
  font-family: 'Inter';
  font-style: normal;
  color: #FFFFFF;
}


.nav-item > a:hover
{
  color: #F94D16 !important;
}

/* makes active button orange */
/* .navbar-nav > .active > a 
{
  color: #F94D16;
} */

/* changes search bar's cancel button to an orange cross */
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  height: 13px;
  width: 13px;
  background: url("../img/orange-cross.svg");
  cursor: pointer;
}

.text-success
{
  color: #F94D16 !important;
}


/* LOG IN PAGE */
.login-container {
  border: 1px dashed #808080;
  border-radius: 10px;

  width: 25vw;
  height: 85vh;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.inner-login-container {
  border: 1px solid #808080;
  border-radius: 10px;

  width: 15vw;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* Log in page */
.inner-login-container > p {
  font-family: "IM FELL French Canon";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  color: #f94d16;
  text-align: center;

  margin-bottom: 10vh;
}

.form-group {
  display: flex;
  align-items: center;

  background: #ffffff;
  border-radius: 50px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;

  width: 11vw;
  height: 3.5vh;
  margin: 4vh;

  margin-top: 4vh;
  margin-bottom: 0;
}

.form-control {
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;

  border-radius: 50px;
  border: none;
  outline: none;
  background: none;
  padding: 0 20px;
  width: 100%;
  height: 100%;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
}

.btn {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;

  color: #000000;

  background: #f94d16;
  border: none;
  border-radius: 50px;
  width: 6vw;

  margin-top: 6vh;
}

.btn:hover {
  background: #ffffff;
  color: #000000;

  /* OR DO THIS */
  /* background: #f94d16;
  color: #ffffff; */
}

/* button pressed */
.btn:active {
  background: #f94d16 !important;
  color: #000000 !important;
}

a 
{
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 19px;

  color: #f94d16;
  text-decoration: none;
}

a:hover {
  color: #ffffff;
  text-decoration: none;
}


.forgot-pswd-prompt {
  margin-left: 4vw;
}

.image-container {
  margin-bottom: 4vw;
}

.image-container > img {
  height: 10vh;
  width: 10vw;
}

/* log in page END*/

/* MUSIC PLAYER PAGE */
.musicplayer-container {
  border: 1px dashed #808080;
  border-radius: 10px;

  /*width: 25vw;
  height: 85vh;

  display: flex;*/
  justify-content: top;
  align-items: center;
  flex-direction: column;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 70px;
  padding: 10px;
}

.inner-musicplayer-container {
  border: 1px solid #808080;
  border-radius: 10px;

  /*width: 15vw;
  height: 50vh;
  display: flex;*/
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.inner-musicplayer-container > p {
  font-family: "IM FELL French Canon";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  color: #f94d16;
  text-align: center;
  margin-bottom: 10vh;
}

.lyrics-container{
  height: 100px;
  width: 100px;
  position: absolute;
  bottom: 400px;
  left: 50px;
  margin: 150px auto;
  border: 1px dashed #808080;
  border-radius: 10px;
}

.queue-container{
  height: 100px;
  width: 100px;
  position: absolute;
  bottom: 400px;
  left: 1200px;
  margin: 150px auto;
  border: 1px dashed #808080;
  border-radius: 10px;
}

.dropdown {
  position: relative;
  display: inline-block;
  font-family: "IM FELL French Canon";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  color: #ffffff;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #000000;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.musicname{
  margin: 150px auto;
  font-family: "IM FELL French Canon";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  color: #ffffff;
  position: absolute;
  z-index: 150;
}

.time{
  padding-top: 350px;
  padding-left: 100px;
  font-family: "inter";
  font-style: normal;
  font-weight: 200;
  font-size: 15px;
  color: #ffffff;
}

.circle-wrap {
  margin: 50px;
  width: 300px;
  height: 300px;
  background: #000000;
  border-radius: 50%;
  border: 1px solid #000000;
}

.circle-wrap .circle .mask,
.circle-wrap .circle .fill {
  width: 300px;
  height: 300px;
  position: absolute;
  border-radius: 50%;
}

.circle-wrap .circle .mask {
  clip: rect(0px, 300px, 300px, 150px);
}

/* color animation */

/* 3rd progress bar */
.mask .fill {
  clip: rect(0px, 150px, 300px, 0px);
  background-color: #af331e;
}

.mask.full,
.circle .fill {
  animation: fill ease-in-out 10s;
  transform: rotate(135deg);
}

.logo-container {
  margin-bottom: 1vw;
}

.logo-container > img {
  height: 5vh;
  width: 5vw;
}

.inner-image{
  width: 250px;
  height: 250px;
  border-radius: 50%;
  background: #d2eaf1;
  line-height: 120px;
  text-align: center;
  margin-top: 25px;
  margin-left: 25px;
  color: #1e51dc;
  position: absolute;
  z-index: 100;
}

.playbar-container{
  margin: auto;
  padding: 0;
  width: 300px;
  height: 600px;
  position: absolute;
}

.button {
  border: none;
  cursor: pointer;
  appearance: none;
  background-color: inherit;
  display: inline-block;
  margin: 4px 2px;
  position: absolute;
}

.button1{
  padding-left: 150px;
  padding-top: 400px;
}

.button2{
  padding-left: 220px;
  padding-top: 400px;
}

.button3{
  padding-left: 70px;
  padding-top: 400px;
}

.button4{
  padding-top: 450px;
  padding-left: 100px;  
}

.prev-music-container{
  border-radius: 50%;
  border: 1px dashed #808080;
  border-radius: 50px;
  width: 100px;
  height: 100px;
  text-align: center;
}

.next-music-container{
  border-radius: 50%;
  border: 1px dashed #808080;
  border-radius: 50px;
  width: 100px;
  height: 100px;
  text-align: center;
}

.prevbutton{
  border-radius: 50%;
  margin-top: 10px;
}

.prev-image{
  width: 75px;
  height: 75px;
  border-radius: 50%;
}

.prev-logo{
  position: relative;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  z-index: 250;
}

img {
  width: 28px;
  height: 28px;
}

/* Slider*/

.volume-logo{
  padding-left: 150px;
  padding-top: 450px;
}

.slidecontainer {
  padding-left: 150px;
  
  width: 100%;
  z-index: 200px;
}

.form-label{
  
}

.slide{
  
}

@keyframes fill{
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(135deg);
  }
}