@import url('https://fonts.googleapis.com/css2?family=IM+Fell+French+Canon&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Lora:wght@400;500;700&family=Oxygen:wght@300;400;700&display=swap');
body 
{
    background-color: #000000;
    box-sizing: border-box;

    display: flex;
    justify-content: center;
    align-items: center;
    
    
}

html, body {
    margin: 0;
    height: 100%;
}

* 
{
    margin: 0;
    padding: 0; 
}

.login-container
{
    border: 1px dashed #808080;
    border-radius: 10px;

    width: 30vw;
    height: 80vh;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.inner-login-container
{
    border: 1px solid #808080;
    border-radius: 10px;

    width: 20vw;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    column-gap: 20vh;
}

/* LOG IN */
.inner-login-container > p 
{
    font-family: 'IM FELL French Canon';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    color: #F94D16;
    text-align: center;
    
    
}

.input-field
{
    background: #FFFFFF;
    border-radius: 50px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;

    
}


button
{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;

    color: #000000;

    background: #F94D16;
    border-radius: 50px;
}

a
{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;

    color: #F94D16;
}

.image-container
{
    margin-bottom: 2vw;
}

.image-container > img
{
    height: 15vh;
    width: 15vw;
}



